

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jnana Ankura</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="script.js"></script>

</head>
<body>
    
  <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/">Jnana<span>Ankura</span></a></div>
                <ul class="menu">
                    <li><a href="#home" class="menu-btn">Home</a></li>
                    <li><a href="#courses" class="menu-btn">Courses</a></li>
                    <!--<li><a href="#about" class="menu-btn">About</a></li>
                    <li><a href="#founder" class="menu-btn">Founder</a></li>-->
                    <li><a href="#contact" href="/" class="menu-btn">Register</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
        </div>
    </nav>

    <!--Home Section-->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Learn </div>
                <div class="text-2">MUSIC</div>
                <div class="text-3">Anytime,Anywhere......<span class="typing"></span></div>
                <div class="icons">
                    
                </div>
            </div>
        </div>
    </section>

    
      
      <!--About section-->
    <section class="about" id="courses">
      <div class="max-width">
          <h2 class="title">Courses</h2>
          <div class="about-content">
              <div class="column left">
                <img src="/images/karnataka.png" alt="Your Image">
              </div>
              <div class="column right">
                  <div class="text">Carnatic Classical Vocal <span class="typing-2"></span></div>
                  <p>
                       People call me . I am a doodler, foodie and a bubbly soul. If given a choice to live rest of your life with a thing, I will never leave my books! I am a problem solver, not just in computerized terms but even in real life! My skills and interest in HTML, CSS and Javascript completes me as a frontend developer.
                      
                       <br>
                       <br>

                      You will find me the most motivated and diligent one in a room. I love creating attractive and interactive websites, Javascript based games and React based apps. Do check out my recent work!

                      <br>
                      <br>

                      I believe its never too late to do something. You conquer heights with your determination and not with the time left! For further details, do connect on linkedin!
                  </p>
                  <a href="#contact">Register!!</a>
              </div>
              
              
          </div>

          <br> <br>
          <div class="about-content">
            <div class="column left">
              <img src="/images/piano.jpeg" alt="Your Image">
            </div>
            <div class="column right">
                <div class="text">Western Piano <span class="typing-2"></span></div>
                <p>
                     People call . I am a doodler, foodie and a bubbly soul. If given a choice to live rest of your life with a thing, I will never leave my books! I am a problem solver, not just in computerized terms but even in real life! My skills and interest in HTML, CSS and Javascript completes me as a frontend developer.
                    
                     <br>
                     <br>

                    You will find me the most motivated and diligent one in a room. I love creating attractive and interactive websites, Javascript based games and React based apps. Do check out my recent work!

                    <br>
                    <br>

                    I believe its never too late to do something. You conquer heights with your determination and not with the time left! For further details, do connect on linkedin!
                </p>
                <a href="#contact">Register!!</a>
            </div>
            
            
        </div>


        <br> <br>
        <div class="about-content">
          <div class="column left">
            <img src="/images/Bharatanatyam.jpg" alt="Your Image">
          </div>
          <div class="column right">
              <div class="text">Bharatanatyam<span class="typing-2"></span></div>
              <p>
                   People call . I am a doodler, foodie and a bubbly soul. If given a choice to live rest of your life with a thing, I will never leave my books! I am a problem solver, not just in computerized terms but even in real life! My skills and interest in HTML, CSS and Javascript completes me as a frontend developer.
                  
                   <br>
                   <br>

                  You will find me the most motivated and diligent one in a room. I love creating attractive and interactive websites, Javascript based games and React based apps. Do check out my recent work!

                  <br>
                  <br>

                  I believe its never too late to do something. You conquer heights with your determination and not with the time left! For further details, do connect on linkedin!
              </p>
              <a href="#contact">Register!!</a>
          </div>
          
          
      </div>

      <br> <br>
      <div class="about-content">
        <div class="column left">
          <img src="/images/devare.jpg" alt="Your Image">
        </div>
       
        <div class="column right">
            <div class="text">Devara Namagalu<span class="typing-2"></span></div>
            <p>
                 People call . I am a doodler, foodie and a bubbly soul. If given a choice to live rest of your life with a thing, I will never leave my books! I am a problem solver, not just in computerized terms but even in real life! My skills and interest in HTML, CSS and Javascript completes me as a frontend developer.
                
                 <br>
                 <br>

                You will find me the most motivated and diligent one in a room. I love creating attractive and interactive websites, Javascript based games and React based apps. Do check out my recent work!

                <br>
                <br>

                I believe its never too late to do something. You conquer heights with your determination and not with the time left! For further details, do connect on linkedin!
            </p>
            <a href="#contact">Register!!</a>
        </div>
        
        
    </div>

    <br> <br>
    <div class="about-content">
      <div class="column left">
        <img src="/images/bhagavad.jpg" alt="Your Image">
      </div>
      
      <div class="column right">
          <div class="text">Bhagavad Gita<span class="typing-2"></span></div>
          <p> People call . I am a doodler, foodie and a bubbly soul. If given a choice to live rest of your life with a thing, I will never leave my books! I am a problem solver, not just in computerized terms but even in real life! My skills and interest in HTML, CSS and Javascript completes me as a frontend developer.
              
               <br>
               <br>

              You will find me the most motivated and diligent one in a room. I love creating attractive and interactive websites, Javascript based games and React based apps. Do check out my recent work!

              <br>
              <br>

              I believe its never too late to do something. You conquer heights with your determination and not with the time left! For further details, do connect on linkedin!
          </p>
          <a href="#contact">Register!!</a>
      </div>
      
      
  </div>
      
        </div>
  </section>

 

     <!--Projects section-->
     <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h2 class="section-title">Upcoming Courses<span></span></h2>
        </div>
        
        <div class="all-projects">
          <div class="project-item">
              <div class="project-info">
                <h1>Carnatic Classical Vocal</h1>
                <p>store your list of things that you want to get done or that needs to get done :)</p>
                <a href="#contact">
                  Register!
                </a>
              </div>
              <div class="project-img">
                  <img src="/images/carnatic.jpg" alt="img">
              </div>
            </div>
          
            <div class="project-item">
              <div class="project-info">
                <h1>Western Piano</h1>
                <p> JS with both dark and light themes. Feel free to use the code!</p>
                <a href="#contact">
                  Register!
                </a>
              </div>
              <div class="project-img">
                  <img src="/images/keyboard.jpg" alt="img"></a>
              </div>
            </div>
            
              <div class="project-item">
                  <div class="project-info">
                    <h1>Bharatanatyam</h1>
                    <p>store your list of things that you want to get done or that needs to get done :)</p>
                    <a href="#contact">
                      Register!
                    </a>
                  </div>
                  <div class="project-img">
                      <img src="/images/Bharatanatyam.jpg" alt="img">
                  </div>
                </div>
                
                <div class="project-item">
                  <div class="project-info">
                    <h1>Devara Namagalu</h1>
                    <p>store your list of things that you want to get done or that needs to get done :)</p>
                    <a href="#contact">
                      Register!
                    </a>
                  </div>
                  <div class="project-img">
                      <img src="/images/devare.jpg" alt="img">
                  </div>
                </div>
              
                <div class="project-item">
                  <div class="project-info">
                    <h1>Bhagavad Gita</h1>
                    <p>store your list of things that you want to get done or that needs to get done :)</p>
                    <a href="#contact">
                      Register!
                    </a>
                  </div>
                  <div class="project-img">
                      <img src="/images/bhagavad.jpg" alt="img">
                  </div>
                </div>

      </div>
  </section>
    

    <!--Contact section-->
    <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">REGISTRATION</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>
                        You can use the further information to contact the founder!!
                    </p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Srisha Raghavendra</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Bengaluru, India</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">E-mail</div>
                                <div class="sub-title">@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="column right">
                    <div class="text">!! ENTER YOUR DETAILS HERE TO REGISTER !!</div>
                    
                    <form method="POST" action="/">
                        
                      <div class="fields">
                            <div class="field name">
                                <input type="text" placeholder="Name" name="namee" required>
                            </div>
                            
                            <div class="field email">
                                <input type="number" placeholder="Phone No." name="phoneNoo" required>
                            </div>
                        </div>
                         

                          

                          <div class="field">
                            <select class="rambo" name="coursee">
                              <option  value="">Select Course</option>
                              <option value="Carnatic Classical Vocal">Carnatic Classical Vocal</option>
                              <option value="Western Piano">Western Piano</option>
                              <option value="Bharatanatyam">Bharatanatyam</option>
                              <option value="Devara Namagalu">Devara Namagalu</option>
                              <option value="Bhagavad Gita">Bhagavad Gita</option>
                            </select>
                          </div>
                          
                         


                         <div class="field">
                            <input type="email" placeholder="Email" name="emaill" required>
                         </div>
                         
                        <div class="button">
                            <button type="submit">Register!!</button>
                        </div>
                    </form>
                    <br> <br>
                    
     
                </div>
            </div>
        </div>
    </section>


    <!-- footer section start -->
    <footer>
        <span>Created By <a href="#">Swaroop S Patil</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
    </footer>

    <script src="index.js"></script>
    
    
</body>
</html>
