<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration-Successful</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
</head>
<body>
    <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">Jnana<span>Ankura</span></a></div>
            <ul class="menu">
                
              <li><a href="/">Home</a></li>
            </ul>
            
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                  </div>
        </div>
    </nav>
<br>
<br>


    <style>
      body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #33a1ff;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}
    </style>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <h1>Registration Successful</h1>
      <p>!!You have successfully registered!!</p>
    </div>
  
    <!-- footer section start -->
<br>  <br>  <br>  <br>  <br>  <br> <br> 
<br>  <br>  <br>  <br>  <br>  <br> <br> 
<br>  <br>  <br>  <br>  <br>   <br> <br>
<footer>
    <span>Created By <a href="https://www.instagram.com/swar_rox/">Swaroop S Patil</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
</footer>

<script src="script.js"></script>
    
</body>


</html>